.rfa-default-login-template{
    border: 1px solid silver;
    margin: 10px auto 10px auto;
    width: 300px;
    padding: 20px;
    display: table;
    
}
.rfa-default-login-template__title{
    font-size: 30px;
    font-weight: bold;
    padding:5px;
}

.rfa-default-login-template__body{
    display: table-row-group
}

.rfa-default-login-template__row{
    display: table-row;
}

.rfa-default-login-template__cell{
    display: table-cell;
    padding: 0px 5px;
}